@media only screen and (max-width: 600px) {}

body {
  background-image: url(mardi-gras-mask.webp);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #310E59c7;
}

.cafta-img {
  height: 3.5em;
  float: left;
  margin: 0;
}

#cafta-nav-header {
  float: left;
  text-align: left;
  font-weight: bold;
  font-family: monospace;
  font-size: 25px;
  margin: 0px;
  margin-top: 10px;
  color: #6e31aa;
}

.nav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.nav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.nav .icon {
  display: none;
}

.donation {
  background-color: white;
  max-width: 70%;
  max-height: 100%;
  position: relative;
  margin-left: 15%;
  margin-top: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
  border-radius: 10px;
}

.p1 {
  display: inline-block;
  padding: 50px;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

footer {
  color: white;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: small;
}

.don-form {
  text-decoration: underline;
  color: black;
  text-align: center;
  color: #36e73e;
}

.don-form:hover {
  color: #29aa30;
}

/* Media Queries */

@media screen and (max-width: 844px) {
  .donation {
    margin-left: 0;
    max-width: fit-content;
    max-height: 100%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
    border-radius: 10px;
  }

}

@media screen and (max-width: 768px) {
  .donation {
    margin-left: 0;
    max-width: fit-content;
    max-height: 100%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
    border-radius: 10px;
  }

}

@media screen and (max-width: 800px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #cafta-nav-header {
    font-size: 2.8vw;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #6e31aa;
  }
}

@media screen and (max-width: 768px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 8%;
    top: 0;
    padding-bottom: 10px;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}