/* Home Page CSS Styles */

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #eac831 0%, #eac831 26%, white 26%, white 46%, #6e31aa 46%, #6e31aa 81%, white 81%, white 100%);
  background-repeat: no-repeat;
  color: #333;
  overflow-x: hidden;
  z-index: -1;
  position: relative;
  flex-shrink: 10;
}


/* Navigation Panel/Bar */
.cafta-img {
  height: 55px;
  max-height: 100%;
}

#cafta-nav-header {
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  color: #6e31aa;
}

nav {
  background-color: white;
  color: #6e31aa;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 14px 16px;
  display: inline-block;
}

nav a:hover {
  background-color: rgb(235, 234, 234);
  border-radius: 5px;
}

/* Coffee Alliance Information */

h1 {
  font-weight: 500;
  font-size: 4vw;
  font-family: 'Raleway', sans-serif;
  color: black;
}

#coffee-alliance-paragraph {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8vw;
  color: black;
  margin-bottom: auto;
  letter-spacing: 0.18em;
}

#join-us-color {
 color: #6e31aa;
}

/* Grid */

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  max-width: 100%;
}


.header {
  margin-top: 100px;
  margin-left: 15%;
  color: white;
}

/* Feathers Design/Graphic */

.feathers img {
  width: 150%;
  height: auto;
}

/* Scholarship Information */

#scholarship-color {
  color: #1eaf00;
}

#scholarship-money {
  font-size: 1.5vw;  
}

.scholarship-header {
  color: black;
  text-align: left;
  font-size: 1.7vw;
  padding-top: 30%;
  padding-bottom: 20%;
}

/* Events Information */

#event-color {
  color: #eac831;
}

/* Footer/Credits */

footer {
  color: white;
  text-align: center;
  position: sticky;
  font-family: 'Arial', sans-serif;
}

/* Mardi Gras Information */

#mardi-gras-color {
  color: #ff20b5;
}

/* Missoula Information and Registration */

#missoula-header {
  text-align: center;
  color: white;
  position: relative;
}

.missoula-link {
  color: white;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

.missoula-link:hover {
  color: rgb(176, 176, 243);;
}

#missoula-events {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

/* Background Image */

section {
  background-image: url(mardi-gras-theme-background\(1\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1568px;
}

/* Black Overlay/Tint */

section::before {
  content: "";
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 1568px;
  background: rgba(0, 0, 0, 0.5);
}

.events,
.mardi-gras,
.missoula {
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}